#### Online Retail Store

In [1]:
# Import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [2]:
data = pd.read_csv('retail.csv',encoding='unicode_escape')
data.head(10)

C:\Users\USER\AppData\Local\Temp\ipykernel_5528\3412776607.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('retail.csv',encoding='unicode_escape')

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/01/2009 07:45,$6.95,13085.0,UK
1,489434,79323P,PINK CHERRY LIGHTS,12,12/01/2009 07:45,$6.75,13085.0,UK
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/01/2009 07:45,6.75,13085.0,UK
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/01/2009 07:45,2.1,13085.0,UK
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/01/2009 07:45,1.25,13085.0,UK
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,12/01/2009 07:45,1.65,13085.0,UK
6,489434,21871,SAVE THE PLANET MUG,24,12/01/2009 07:45,1.25,13085.0,UK
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,12/01/2009 07:45,5.95,13085.0,UK
8,489435,22350,CAT BOWL,12,12/01/2009 07:46,2.55,13085.0,UK
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,12/01/2009 07:46,3.75,13085.0,UK

In [3]:
data['Country'].value_counts()

Country
United Kingdom          485830
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
UK                          22
Lebanon                     13
Name: count, dtype: int64

##### Change Countries to full names e.g UK to United Kingdom, USA to United States of America

In [4]:
data['Country'] = data['Country'].replace({'UK':'United Kingdom','EIRE':'Ireland','USA':'United States of America','RSA':'South Africa'})

In [5]:
# Check
data['Country'].value_counts()

Country
United Kingdom              485852
Ireland                       9670
Germany                       8129
France                        5772
Netherlands                   2769
Spain                         1278
Switzerland                   1187
Portugal                      1101
Belgium                       1054
Channel Islands                906
Sweden                         902
Italy                          731
Australia                      654
Cyprus                         554
Austria                        537
Greece                         517
United Arab Emirates           432
Denmark                        428
Norway                         369
Finland                        354
Unspecified                    310
United States of America       244
Japan                          224
Poland                         194
Malta                          172
Lithuania                      154
Singapore                      117
South Africa                   111
Bahrain                        107
Canada                          77
Hong Kong                       76
Thailand                        76
Israel                          74
Iceland                         71
Korea                           63
Brazil                          62
West Indies                     54
Bermuda                         34
Nigeria                         32
Lebanon                         13
Name: count, dtype: int64

In [6]:
# Check Description
data['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER     3549
REGENCY CAKESTAND 3 TIER               2212
STRAWBERRY CERAMIC TRINKET BOX         1843
PACK OF 72 RETRO SPOT CAKE CASES       1466
ASSORTED COLOUR BIRD ORNAMENT          1457
                                       ...
stock credited from royal yacht inc       1
VINTAGE METAL CAKE STAND CREAM            1
BLUE BAROQUE FLOCK CANDLE HOLDER          1
S/4 HEART CRYSTAL FRIDGE MAGNETS          1
dotcom email                              1
Name: count, Length: 4681, dtype: int64

In [7]:
# Change all to Caps
data['Description'] = data['Description'].str.upper()

In [8]:
# check
data['Description']

0         15CM CHRISTMAS GLASS BALL 20 LIGHTS
1                          PINK CHERRY LIGHTS
2                         WHITE CHERRY LIGHTS
3                RECORD FRAME 7" SINGLE SIZE
4              STRAWBERRY CERAMIC TRINKET BOX
                         ...
525456                   FELTCRAFT DOLL ROSIE
525457           FELTCRAFT PRINCESS LOLA DOLL
525458         FELTCRAFT PRINCESS OLIVIA DOLL
525459     PINK FLORAL FELTCRAFT SHOULDER BAG
525460                 JUMBO STORAGE BAG SUKI
Name: Description, Length: 525461, dtype: object

In [9]:
#check Customer ID
data['Customer ID']

0         13085.0
1         13085.0
2         13085.0
3         13085.0
4         13085.0
           ...
525456    17530.0
525457    17530.0
525458    17530.0
525459    17530.0
525460    17530.0
Name: Customer ID, Length: 525461, dtype: float64

In [10]:
# Remove the full stop and last 0
# First Convert to String 
data['Customer ID'] = data['Customer ID'].astype('str')

In [11]:
# Check
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   Price        525461 non-null  object
 6   Customer ID  525461 non-null  object
 7   Country      525461 non-null  object
dtypes: int64(1), object(7)
memory usage: 32.1+ MB

In [12]:
# Replace all full stop with nothing
data['Customer ID'] = data['Customer ID'].str.replace('.','')

In [13]:
#check
data['Customer ID']

0         130850
1         130850
2         130850
3         130850
4         130850
           ...
525456    175300
525457    175300
525458    175300
525459    175300
525460    175300
Name: Customer ID, Length: 525461, dtype: object

In [14]:
#remove last zero
data['Customer ID'] = data['Customer ID'].str[:5]

In [15]:
#check
data['Customer ID']

0         13085
1         13085
2         13085
3         13085
4         13085
          ...
525456    17530
525457    17530
525458    17530
525459    17530
525460    17530
Name: Customer ID, Length: 525461, dtype: object

#### Convert InvoiceDate Column to DateTime DataType

In [16]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [17]:
#Check
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  object
 6   Customer ID  525461 non-null  object
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 32.1+ MB

#### To remove last alphabet from the invoice number

In [18]:
data['StockCode']

0          85048
1         79323P
2         79323W
3          22041
4          21232
           ...
525456     22271
525457     22750
525458     22751
525459     20970
525460     21931
Name: StockCode, Length: 525461, dtype: object

In [19]:
data['StockCode'] = data['StockCode'].str[:5]

In [20]:
#Check
data['StockCode']

0         85048
1         79323
2         79323
3         22041
4         21232
          ...
525456    22271
525457    22750
525458    22751
525459    20970
525460    21931
Name: StockCode, Length: 525461, dtype: object

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  object
 6   Customer ID  525461 non-null  object
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 32.1+ MB

# Check the first 20 records
data.head(20)

In [24]:
## Check Price 
data['Price']

0         $6.95
1         $6.75
2          6.75
3           2.1
4          1.25
          ...
525456     2.95
525457     3.75
525458     3.75
525459     3.75
525460     1.95
Name: Price, Length: 525461, dtype: object

### Problem Statements
1. Whats the total number of countries the retail stores are?
2. Whats the total number of customer
3. How many stock do we have in store?

#### Solution

In [25]:
### Total number of countries
data['Country'].nunique()

40

##### The retail stores are in 20 countries

In [26]:
### total number of customer
data['Customer ID'].nunique()

4384

##### There are 4384 customers

In [27]:
## Number of stocks
data['StockCode'].nunique()

3581

##### There are 3581 stocks

In [28]:
data.to_csv('cleaned_online_retail_store.csv')

PermissionError: [Errno 13] Permission denied